html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    background-color: black;
}
#root {
    height: 100%;
    width: 100%;
    background-color: black;
}
body {
    font-family: "Sofia Sans", serif;
    background-color: black;
}
code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    overflow: hidden;
    background-attachment: fixed;
    box-sizing: border-box;
    background-image: radial-gradient(circle at 50% 50%, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.75) 50%, rgba(0, 0, 0, 0.99) 95%), url('https://eggoquest.fra1.cdn.digitaloceanspaces.com/backgrounds/vikingVillageBg.jpeg');
}
.titleText {
    font-size: 30px;
    color: #e8e8e8;
    margin: 20px;
    font-weight: 700;
}

.check-button {
    width: 170px;
    padding: 10px 10px;
    font-size: 19px !important;
    font-weight: 600;
    font-family: "Sofia Sans", sans-serif;
    border: 2px solid #919191;
    background-color: rgba(98, 98, 98, 0.6);
    backdrop-filter: blur(4px);
    color: #e8e8e8;
    cursor: pointer;
}
.check-button-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.sudoku-grid {
    width: calc(34px * 9 + 8px);
    display: grid;
    grid-template-columns: repeat(9, 1fr);
    gap: 1px;
    background-color: transparent;
    padding: 5px;
    margin: 0 auto;
}
.section-border-right {
    border-right: 7px solid rgba(224, 224, 224, 0.37);
}

.section-border-bottom {
    border-bottom: 7px solid rgba(224, 224, 224, 0.37);
}
.sudoku-cell {
    width: 34px;
    height: 34px;
    text-align: center;
    font-size: 16px;
    font-weight: 600;
    color: #e8e8e8;
    border: none;

    outline: none;
    box-sizing: border-box;
    transition: background-color 0.2s ease;
}

@keyframes focusAnimation {
    0%, 100% {
        border-color: transparent;
        box-shadow: none;
    }
    50% {
        border-color: rgba(255, 255, 255, 0.3);
        box-shadow: 0 0 15px rgba(255, 255, 255, 0.3);
    }
}

.sudoku-cell {
    border: 2px solid transparent;
    outline: none;
}

.sudoku-cell:focus {
    animation: focusAnimation 1s ease infinite;
}

.sudoku-cell.fixed {
    background-color: transparent;
}

.sudoku-cell.empty {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(1px);

}

.sudoku-cell.highlighted {
    background-color: rgba(94, 94, 94, 0.3);
    backdrop-filter: blur(6px);
}

.section-border-right {
    border-right: 2px solid rgba(0, 0, 0, 0.3);
}

.section-border-bottom {
    border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}
.motka-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0 ,0.6) 40%, rgba(0, 0, 0, 1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.motka-modal {
    width: 100%;
    position: absolute;
    bottom: 15px;
    background: transparent;
}
.motka-content-block {
    width: 180px;
    position: absolute;
    left: 20px;
    bottom: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    z-index: 5;
    font-size: 16px;
    color: #e8e8e8;
}
.motka-content-block p{
    text-align: left;
    z-index: 5;
    font-size: 16px;
    color: #e8e8e8;
    filter: drop-shadow(0 0 5px rgba(0, 0, 0, 1));
}
.motka-image-wrapper {
    position: absolute;
    bottom: 20px;
    right: 0;
    width: 200px;
    height: auto;
}

.motka-image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 3;
    pointer-events: none;
}
.motka-image {
    width: 100%;
    height: auto;
}
.finale-text-block {
    position: absolute;
    top: 20px;
    right: 50%;
    transform: translateX(50%);
    width: calc(100% - 40px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    z-index: 5;
    font-size: 16px;
    color: #e8e8e8;
}
.finale-text-block p{
    margin: 10px 0;
}
.motka-love-image-wrapper {
    position: absolute;
    bottom: 10px;
    right: 50%;
    transform: translateX(50%);
    width: 240px;
    height: auto;
}

.motka-love-image-wrapper::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 1) 100%);
    z-index: 3;
    pointer-events: none;
}
.motka-love-image {
    width: 100%;
    height: auto;
}
