
html, body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
}

/* Убедимся, что root занимает всё пространство */
#root {
  height: 100%;
  width: 100%;
}

/* Устанавливаем шрифт для всего приложения */
body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
